<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Detail</title>
</head>
<body>
    <div>
        <h2>{{uni.name}}</h2>
        <p>Town: {{uni.city}}</p>
        <p>Country: {{uni.city.country}}</p>
        <p>Address: {{uni.address}}</p>
        <p>Rate: {{uni.admission_rate}}</p>
        <a href="#">{{uni.website}}</a>
    </div>
</body>
</html>